@import url("https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap");

*,
::before,
::after {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

body {
  font-family: "Tiktok Sans";
}

:root {
  --primary-color: #4891ff;
  --light-color: #f4f4f6;
  --dark-color: #111;
}

/* universal */

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

li:hover {
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.5s;
}

.p18 {
  font-size: 1.125rem;
}

.p22 {
  font-size: 1.375rem;
}

.h48 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.1;
}

.h64 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.1;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  border-radius: 18px;
  padding: 20px 35px;
  background-color: var(--light-color);
}

.btn-icon {
  width: 20px;
  height: 20px;
  background-image: url("assets/Frame.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-primary {
  background-color: #4891ff;
  color: #fff;
}

.btn:hover {
  opacity: 0.8;
}

.container {
  box-sizing: content-box;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Navbar */

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  padding: 30px;
}

.navbar ul {
  display: flex;
}

.navbar ul li a {
  padding: 10px 20px;
  font-weight: 500;
}

.navbar ul li:last-child {
  margin-left: 10px;
}

.navbar .container .btn {
  border-radius: 10px;
}

/* Hero */

.hero .container {
  margin-top: 60px;
}

.hero-heading {
  max-width: 70%;
}

.hero-text {
  margin-top: 25px;
  max-width: 45%;
}

.hero-buttons {
  display: flex;
  margin-top: 40px;
  gap: 20px;
}

.hero-image-container {
  display: flex;
  max-width: 1490px;
  position: relative;
  top: -150px;
}

/* Media Queries */
